<!DOCTYPE html>
<html>

  <head>
    <title>VisualYou</title>
    <link href='https://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

    <%= yield %>
  <footer class="footer-2" role="contentinfo">
    <div class="footer-logo">
     <img src="https://i.imgur.com/egYI57i.png" title="source: imgur.com" />
    </div>
    <ul>
      <% if current_user %>
        <li class="nav-link">Signed in as <strong><%=current_user.name%></strong></li>
        <li class="nav-link"><%= link_to 'My Board', user_path(current_user) %></li>
        <li class="nav-link"><%= link_to "Logout", '/logout' %></li>
        <li class="nav-link"><%= link_to 'Take a look at other boards', controller: 'posts' %></li>
      <% elsif current_user && current_user.admin? %>
        <li>Signed in as Admin</li>
      <% else %>
        <li class="nav-link"><%= link_to "Login", login_path %></li>
        <li class="nav-link"><%= link_to "Signup", signup_path %></li>
        <li class="nav-link"><%= link_to 'Back', '/' %></li>
      <%end%>
    </ul>
  </footer>

</html>